@import "tailwindcss";
@import "tw-animate-css";

/* Custom dark mode variant */
@custom-variant dark (&:is(.dark *));

:root {
    /* Define CSS variables for theming */
    --font-dm-mono: var(--font-dm-mono);

    --accent: oklch(0.6576 0.229 28.72);
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);

    --radius: 0.625rem;
}

/* Inline theme definitions */
@theme inline {
    --color-accent: var(--accent);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-mono: var(--font-dm-mono);

    /* Define various border radius sizes */
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

body {
    /* Apply default font family */
    font-family: var(--font-dm-mono), monospace;
}

/* Dark mode specific variables */
.dark {
    --accent: oklch(0.8941 0.2281 126.18);
    --background: oklch(0.145 0 0);
    --foreground: oklch(1 0 0);
}

@layer base {
    * {
        /* Apply accent color to borders and outlines */
        @apply border-accent outline-accent;
    }
    body {
        /* Apply background and foreground colors */
        @apply bg-background text-foreground;
    }
}

/* Custom WebKit Scrollbar styling */
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: var(--accent);
}
::-webkit-scrollbar-button {
    display: none;
}

/* Utility classes for page layout */
@utility page-base-layout {
    @apply overflow-x-hidden min-h-screen max-w-screen font-mono font-normal;
}

/* Utility classes for page padding */
@utility page-padding {
    @apply px-10 md:px-20 lg:px-26 pt-26 md:pt-30 lg:pt-34 pb-10 md:pb-20 lg:pb-24;
}

/* Utility for centering flex items */
@utility flex-center {
    @apply flex items-center justify-center;
}

/* Utility for centering flex columns */
@utility col-center {
    @apply flex flex-col justify-center items-center;
}

/* Utility for hover cursor styling */
@utility cursor-hover {
    @apply text-sm text-accent font-medium;
}

/* Utility for a blinking animation */
@utility animate-blink {
    animation: blink 1s step-end infinite;
}

/* Keyframes for the blinking animation */
@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Radix Accordion content styling */
.AccordionContent {
    overflow: hidden;
}
.AccordionContent[data-state="open"] {
    animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state="closed"] {
    animation: slideUp 300ms ease-out;
}

/* Keyframes for accordion slide down animation */
@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}

/* Keyframes for accordion slide up animation */
@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}
